<%= link_to "show", show_path %>
<div id="wrap">
	<div id="container-wrap">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<div class="post">
					<div class="image">
					</div>
					<div class="project-type">
						<div class="avatar">
						</div>
						<span class="glyphicon glyphicon-user" aria-hidden="true"> 233</span>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="post">
					<div class="image">
					</div>
					<div class="project-type">
						<div class="avatar">
						</div>
						<span class="glyphicon glyphicon-user" aria-hidden="true"> 233</span>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="post">
					<div class="image">
					</div>
					<div class="project-type">
						<div class="avatar">
						</div>
						<span class="glyphicon glyphicon-user" aria-hidden="true"> 233</span>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="post">
					<div class="image">
					</div>
					<div class="project-type">
						<div class="avatar">
						</div>
						<span class="glyphicon glyphicon-user" aria-hidden="true"> 233</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
