<%= link_to "home", root_path %>
<div class="container">
	<div id="post_show">
	  <h1>
	   	title
	  </h1>
	  <p class="username">
	    Shared by
	    Mike
	    about
	    3 min ago
	  </p>
	  <div class="clearfix">
	    <div class="post_image_description">
	    <div class="show-post">
	    	<div class="show-image">

	    	</div>
		</div>
	      <div class="description">
	        Here wil go a descritpion for the post.
	      </div>
	    </div>
	    <div class="post_data">
	      post stufff
	edit and other thinfs here
	    </div>
	    <div id="random_post">
	      <h3>Random Inspiration</h3>
	      <div class="post">
	        <div class="post_image">
	          Image goes here
	        </div>
	        <div class="post_content">
	          <div class="title">
	            <h2>
	              titile here for the psot 
	            </h2>
	          </div>
	          <div class="data clearfix">
	            <p class="username">
	              Shared by
	              User name of tjem [olskt ]
	            </p>
	            <p class="buttons">
	              <span>
	                here goesthe fcount sof somethig
	              </span>
	              <span>
	                <i class="fa fa-thumbs-o-up"></i>
	                randolm post size
	              </span>
	            </p>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
